{% extends 'monTemplate.html.twig' %}


{% block sidebar %}
<body class="is-preload">
  <!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="{{path('hub')}}">RETOUR</a></li>
        </ul>
      </nav>
    </div>
  </section>
  {% endblock %}

  {% block body %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="partie" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        {% if action == 'creer' %}
        <h1>CREER UN PLATEAU</h1>

        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

          <div class="inner" id="ensembleformulaire">
            {{form_start(vueFormulaireCreationPlateau) }}
            <div class="inner" id="unecase">
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            </div>
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}
            <div class="inner" id="formulaireNbDefis">
            {{ form_row(vueFormulaireCreationPlateau.nbCases, { 'label' : 'Taille du plateau (nombre de défis)' })}}
            </div>
            <div class="inner" id="ensemblecases">


            <div id="divCachée" style="display: none;">
            <div id="uneCase">
            {{ form_row(vueFormulaireCreationPlateau.descriptifDefi, { 'label' : 'Description du défis n°'})}}
            </div>
            </div>


            </div>


          </div>
            <Br>

          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la création </a>
             <a href="{{ path('hub')}}" class="button scrolly">Annuler la création </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {%else%}

        <h1>MODIFIER UN PLATEAU</h1>
        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

            {{form_start(vueFormulaireCreationPlateau) }}
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}

            <Br>


          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la modification </a>
             <a href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="button scrolly">Annuler la modification </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {% endif %}

      </div>
    </section>
  </div>
  </section>

  </div>

  <script type='text/javascript'>

selecteur = document.getElementById('plateau_nbCases');
selecteur.addEventListener("change", function(){
nbDefis = document.getElementById('plateau_nbCases').value;
ensemblecases = document.getElementById('ensemblecases');
unecase = document.getElementById('uneCase');


  // Vide tout les enfants afin d'eviter que les champs de saisie s'ajoutent après changement de valeur dans le selecteur
  while (ensemblecases.firstChild) {
   ensemblecases.removeChild(ensemblecases.lastChild);
 }

  for (i = 0; i < nbDefis; i++) {
    caseSuivante = unecase.cloneNode(true);

    ensemblecases.appendChild(caseSuivante);

    //id
    idCaseSuivante = i+1;
    ensemblecases.lastChild.children[0].children[1].id = idCaseSuivante;
    //label
    descriptifCaseSuivante = 'Description du défis n°'+(i+1);
    ensemblecases.lastChild.children[0].children[0].textContent = descriptifCaseSuivante;
    //name
    nameCaseSuivante = 'descriptif'+(i+1);
    ensemblecases.lastChild.children[0].children[1].name = nameCaseSuivante;
 }

});


  // function testBoucle(){
  //    nbDefis = document.getElementById('plateau_nbCases').value;
  //    uneDiv = document.getElementById('unecase');
  //    for (var i = 0; i < nbDefis; i++) {
  //      while (myNode.firstChild) {
  //  myNode.removeChild(myNode.lastChild);
  //     }
  //     uneDivClonee = uneDiv.cloneNode('UneDiv');
  //      ensembleformulaire.appendChild(uneDivClonee);
  //    }
  // }

   </script>

  {% endblock %}


  {% block footer %}
  {% endblock %}
