{% extends 'monTemplate.html.twig' %}


{% block sidebar %}
{% block javascripts %}
  <script>


  var $collectionHolder;

  // setup an "add a case" link
  var $addCaseButton = $('<button type="button" class="add_case_link">Ajouter une case</button>');
  var $newLinkLi = $('<li></li>').append($addCaseButton);

  jQuery(document).ready(function() {
      // Get the ul that holds the collection of tags
      $collectionHolder = $('ul.casesliste');

      // add the "add a tag" anchor and li to the tags ul
      $collectionHolder.append($newLinkLi);

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      $collectionHolder.data('index', $collectionHolder.find('input').length);

      $addCaseButton.on('click', function(e) {
          // add a new tag form (see next code block)
          addCaseForm($collectionHolder, $newLinkLi);
      });
  });

  function addCaseForm($collectionHolder, $newLinkLi) {
      // Get the data-prototype explained earlier
      var prototype = $collectionHolder.data('prototype');

      // get the new index
      var index = $collectionHolder.data('index');

      var newForm = prototype;
      // You need this only if you didn't set 'label' => false in your tags field in TaskType
      // Replace '__name__label__' in the prototype's HTML to
      // instead be a number based on how many items we have
      // newForm = newForm.replace(/__name__label__/g, index);

      // Replace '__name__' in the prototype's HTML to
      // instead be a number based on how many items we have
      newForm = newForm.replace(/__name__/g, index);

      // increase the index with one for the next item
      $collectionHolder.data('index', index + 1);

      // Display the form in the page in an li, before the "Add a tag" link li
      var $newFormLi = $('<li></li>').append(newForm);
      $newLinkLi.before($newFormLi);
  }


// selecteur = document.getElementById('plateau_nbCases');
// selecteur.addEventListener("change", function(){
// nbDefis = document.getElementById('plateau_nbCases').value;
// ensemblecases = document.getElementById('ensemblecases');
// unecase = document.getElementById('uneCase');
//
//
//   // Vide tout les enfants afin d'eviter que les champs de saisie s'ajoutent après changement de valeur dans le selecteur
//   while (ensemblecases.firstChild) {
//    ensemblecases.removeChild(ensemblecases.lastChild);
//  }
//
//   for (i = 0; i < nbDefis; i++) {
//     caseSuivante = unecase.cloneNode(true);
//
//     ensemblecases.appendChild(caseSuivante);
//
//     //id
//     idCaseSuivante = i+1;
//     ensemblecases.lastChild.children[0].children[1].id = idCaseSuivante;
//     //label
//     descriptifCaseSuivante = 'Description du défis n°'+(i+1);
//     ensemblecases.lastChild.children[0].children[0].textContent = descriptifCaseSuivante;
//     //name
//     nameCaseSuivante = 'descriptif'+(i+1);
//     ensemblecases.lastChild.children[0].children[1].name = nameCaseSuivante;
//  }
//
// });
//
//
//   //// function testBoucle(){
//   ////    nbDefis = document.getElementById('plateau_nbCases').value;
//   ////    uneDiv = document.getElementById('unecase');
//   ////    for (var i = 0; i < nbDefis; i++) {
//   ////      while (myNode.firstChild) {
//   ////  myNode.removeChild(myNode.lastChild);
//   ////     }
//   ////     uneDivClonee = uneDiv.cloneNode('UneDiv');
//   ////      ensembleformulaire.appendChild(uneDivClonee);
//   ////    }
//   //// }
//
   </script>
   {% endblock %}
   
<body class="is-preload">
  <!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="{{path('hub')}}">RETOUR</a></li>
        </ul>
      </nav>
    </div>
  </section>
  {% endblock %}

  {% block body %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="partie" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        {% if action == 'creer' %}
        <h1>CREER UN PLATEAU</h1>

        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

          <div class="inner" id="ensembleformulaire">
            {{form_start(vueFormulaireCreationPlateau) }}
            <div class="inner" id="unecase">
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            </div>
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}
            <div class="inner" id="formulaireNbDefis">
            {{ form_row(vueFormulaireCreationPlateau.nbCases, { 'label' : 'Taille du plateau (nombre de défis)' })}}
            </div>

            <div id="ensemblecases">
            <h3>Cases</h3>
               <ul class="casesliste"  data-prototype="{{ form_widget(vueFormulaireCreationPlateau.cases.vars.prototype)|e('html_attr') }}">
                   {% for unecase in vueFormulaireCreationPlateau.cases %}
                       <li>{{ form_row(unecase.descriptifDefi) }}</li>
                   {% endfor %}
               </ul>
            </div>

          </div>
            <Br>

          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la création </a>
             <a href="{{ path('hub')}}" class="button scrolly">Annuler la création </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {%else%}

        <h1>MODIFIER UN PLATEAU</h1>
        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

            {{form_start(vueFormulaireCreationPlateau) }}
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}

            <Br>


          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la modification </a>
             <a href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="button scrolly">Annuler la modification </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {% endif %}

      </div>
    </section>
  </div>
  </section>

  </div>

  {% endblock %}


  {% block footer %}
  {% endblock %}
