{% extends 'monTemplate.html.twig' %}

    {% block body %}
    <div id="wrapper">
        <section id="intro" class="inner wrapper style1 fullscreen fade-up ">
                <h1>
                    <center>{{partie.nom}}</center>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible show" role="alert">
                              {{message}}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            </div>
                        {% endfor %}


                        <p> Pour jouer il faut sélectionner un pion puis lancer le dé en cliquant dessus. Votre pion se
                            déplacera en fonction de la face obtenue. Vous pouvez accéder au défi en cliquant
                           sur la case correspondante. Une fois arrivé à la derniere case, le pion ne pourra plus être déplacé.
                         </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        {% if utilisateur.pseudo == partie.createur.pseudo %}
                        <ul class="actions">
                            <li><a role="button" href="{{ path('parametres_partie', {'idPartie' : partie.id}) }}"
                                class="btn button scrolly">Paramètres</a>
                            </li>

                        </ul>
                        {% else %}
                        {%endif%}


                    </div>

                </div>


                <div id="canvas">

                </div>

                <div class="row">

                        <p id="creaJoueur"></p>

                </div>
        </section>
        </div>


          <script type="text/javascript">
              var idPartie = {{ partie.id }};
              var assetsBaseDir = "{{ asset('tilemap/') }}"
          </script>

          <script type="text/javascript" src="{{asset('tilemap/js/classes/XmlHttpRequest.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/ToolBox.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Background.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Mouse.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Input.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Parcours.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/De.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Pion.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Case.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Tileset.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/Map.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/SceneGameplay.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/classes/fetchJoueurs.js')}}"></script>
          <script type="text/javascript" src="{{asset('tilemap/js/MainGame.js')}}"></script>


        {% endblock %}
